<!DOCTYPE html>
<html>
  <body>
    <div class="group_02">
      <div
        class="page02_group02_section09 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-02/section-09/09-bg.png"
        />
        <h3 class="section_title section09-title">
          <div class="text-light">
            <div class="goingUp-text">
              계림동은 과거 광주의 중심지였어요. 계림초는 1948년부터 이곳을
              지키고 있죠.<br />
              하지만 1990년대 도시 외곽이 개발되면서 옛 도심인 계림동은
              쇠퇴해갔어요.<br />
              계림초에 다니는 학생 수도 줄었어요.
            </div>
          </div>
        </h3>
      </div>
      <div
        class="page02_group02_section10 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-02/section-10/10_img.png"
        />
        <h3 class="section_title section10-title">
          <div class="text-light">
            <div class="goingUp-text">
              2018년 전후로 계림초 주변에 재개발 아파트 단지가 들어섰어요. 이<br />
              때문에 학생 수가 몇 년 사이 두 배 가까이 늘었어요.
            </div>
          </div>
        </h3>
      </div>
      <div
        class="page02_group02_section11 fullscreen scrollable section_scroll"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-02/section-11/11_img.png"
        />
        <h3 class="section_title section11-title text-strong-2">
          <div class="text-strong">
            <div class="body_text_effect">
              학생 수는 늘었지만,<br />
              등·하굣길은 옛 도심의 모습처럼 낡아 있었어요.<br /><br />
              이곳 학생 10명 중 8명은 걸어서 학교에 오가고<br />
              10명 중 7명은 보호자 없이 혼자 등·하교를 해요<br />
              자연히 통학로가 더 안전해지길 바라는 목소리가 높아졌죠.
            </div>
          </div>
        </h3>
      </div>
      <div
        class="page02_group02_section12 fullscreen scrollable hide_scroll"
        id="main-content"
      >
        <div class="column">
          <h3 class="section_title section12-title line1">
            <div class="text-light">
              <div class="goingUp-text">
                이영희 광주 동구청 계장은 말합니다.
              </div>
            </div>
          </h3>
          <img
            class="profile"
            src="/assets/images/02/group-02/section-12/12_profile.png"
          />

          <div class="quote text-strong-2">
            &ldquo;
            <div class="text">
              <h3 class="section_title section12-title">
                <div class="text-light">
                  <div class="body_text_effect">
                    구도심에 위치한 계림초는 재개발 사업으로 인해<br />인해 학생
                    수와 함께 차량 통행량도 많이 증가했어요.<br /><br />
                    <span class="text-strong"
                      >그래서 안심할 수 있는, 통학로 변화가 필요했습니다.</span
                    >
                  </div>
                </div>
              </h3>
            </div>
            &rdquo;
          </div>
        </div>
      </div>
      <div
        class="page02_group02_section13 fullscreen scrollable section_scroll"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-02/section-13/13_img.png"
        />
        <h2 class="section_title section13-title text-strong-2">
          <div class="text-strong">
            <div class="goingUp-text">
              어린이는 성인보다 시야가 좁아요.<br />
              어디서 소리가 나는지 금방 알아채지 못하고<br />
              한 가지 일에 집중하면 주변 환경엔 둔감해져요.
            </div>
          </div>
        </h2>
      </div>
      <div
        class="page02_group02_section15 fullscreen scrollable section_scroll"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-02/section-15/15_img.png"
        />
        <h2 class="section_title section15-title text-strong-2">
          <div class="text-light">
            <div class="body_text_effect">
              <span class="text-strong">학교 정문으로 가는 통학로</span>는<br />
              4차선 간선도로와 석벽 사이에 있어요.<br /><br />
              이 통학로에 ‘<span class="text-strong">계림도담길</span>’이라는
              이름을 지어줬어요.<br />아이들에게 거대한 이미지로 인식되는 석벽을
              친근하게 느낄 수 있도록요.<br />
            </div>
          </div>
        </h2>
      </div>
    </div>
  </body>
</html>
<!DOCTYPE html>
