<!DOCTYPE html>
<html>
  
  <body>
    
    <div class="page02_screen01 fullscreen">
      <div class="tag-title">공공디자인으로 행복한 공간 만들기</div>
      <div class="main-title">
        <h1>
          <span class="text-light">개발되는 옛 도심, </span
          ><span class="text-strong">통학로도 새단장</span>
        </h1>
        <h5 class="flex-center">
          <span class="text-strong">다정한 도시</span>
          <div class="rounded-number flex-center">2</div>
          <span class="text-light">광주광역시 계림도담길</span>
        </h5>
      </div>
      <a href="#main-content">
        <div class="scroll-down">
          <span class="text-light">Scroll Down</span>
          <img src="/assets/svgs/icon_down-arrow.svg" alt="scroll-down" /></div
      ></a>
    </div>
    <div class="page02_screen02 fullscreen" id="main-content">
      <img
        class="fullscreen street_background"
        src="/assets/images/02/group-01/street-bg/02_bg.png"
      
      />
      <h2 class="screen02-title text-strong-2">
        &ldquo;
        <div class="text-strong">
          <div class="goingUp-text">어린이는 성인보다 시야가 좁아요.<br/>
            어디서 소리가 나는지 금방 알아채지 못하고<br/>
            한 가지 일에 집중하면 주변 환경엔 둔감해져요.</div>
        </div>
        &rdquo;
      </h2>
      
    </div>
    <div class="page02_screen02 fullscreen" id="main-content">
      <img
        class="fullscreen street_background"
        src="/assets/images/02/group-01/street-bg/02_bg.png"
      
      />
      <h2 class="screen02-title text-strong-2">
        &ldquo;
        <div class="text-strong">
          <div class="goingUp-text">차량 속도를 쉽게 추정하지 못하고<br/>
            운전자가 자신을 보고 알아서 멈출거라 생각하기도 해요.<br/>
            교통 약자인 어린이에게 안전한 환경이 요구되는 이유죠.</div>
        </div>
        &rdquo;
      </h2>
      
    </div>
    <div class="page02_screen04 fullscreen" id="main-content">
      <img
        class="fullscreen street_background"
        src="/assets/images/02/group-01/street-bus-bg/04_img.png"
        srcset="
          /assets/images/02/group-01/street-bus-bg/04_img@2x.png 2x,
          /assets/images/02/group-01/street-bus-bg/04_img@3x.png 3x
        "
      />
      <h2 class="screen04-title text-strong-2">
        &ldquo;
        <div class="text-strong">
          <div class="goingUp-text">어린이는 성인보다 시야가 좁아요.<br/>
            어디서 소리가 나는지 금방 알아채지 못하고<br/>
            한 가지 일에 집중하면 주변 환경엔 둔감해져요.</div>
        </div>
        &rdquo;
      </h2>
      
    </div>
    <div class="page02_screen05 fullscreen" id="main-content">
      <img
        class="fullscreen street_background"
        src="/assets/images/02/group-01/screen-05/05_img.png"
        srcset="
          /assets/images/02/group-01/screen-05/05_img@2x.png 2x,
          /assets/images/02/group-01/screen-05/05_img@3x.png 3x
        "
      />
      <h2 class="screen05-title text-strong-2">
        &ldquo;
        <div class="text-strong">
          <div class="goingUp-text">하지만 낡은 주택단지를 재개발하는 경우는 어떨까요.</div>
        </div>
        &rdquo;
      </h2>
      
    </div>
  </body>
  <div class="page02_screen06 fullscreen" id="main-content">
    <img
      class="fullscreen street_background"
      src="/assets/images/02/group-01/screen-06/06_img.png"
      srcset="
        /assets/images/02/group-01/screen-06/06_img@2x.png 2x,
        /assets/images/02/group-01/screen-06/06_img@3x.png 3x
      "
    />
    <h2 class="screen06-title text-strong-2">
      &ldquo;
      <div class="text-strong">
        <div class="goingUp-text">광주광역시 계림초등학교 통학로의 이야기를<br/>
          살펴보면서 함께 생각해 보아요.</div>
      </div>
      &rdquo;
    </h2>
  </div>
  <div class="page02_screen07 fullscreen" id="main-content">
    <img
      class="fullscreen street_background"
      src="/assets/images/02/group-01/screen-07/07_img.png"
      srcset="
        /assets/images/02/group-01/screen-07/07_img@2x.png 2x,
        /assets/images/02/group-01/screen-07/07_img@3x.png 3x
      "
    />
  </div>
    <div class="page02_screen08 fullscreen" id="main-content">
      <img
        class="fullscreen street_background"
        src="/assets/images/02/group-01/screen-08/08_img.png"
        srcset="
          /assets/images/02/group-01/screen-08/08_img@2x.png 2x,
          /assets/images/02/group-01/screen-08/08_img@3x.png 3x
        "
    />
  </div>
</body>
</html>
<!DOCTYPE html>