<!DOCTYPE html>
<html>
  <body>
    <div class="group_05">
      <div
        class="page02_group05_section25 fullscreen scrollable"
        id="main-content"
      >
        <div class="column">
          <h3 class="section_title section25-title line1">
            <div class="text-light">
              <div class="goingUp-text">
                어머니와 함께 등교한 계림초 2학년 김주아양은 말해요..
              </div>
            </div>
          </h3>
          <img
            class="profile"
            src="/assets/images/02/group-05/25/25_profile.png"
            srcset="
              /assets/images/02/group-05/25/25_profile@2x.png 2x,
              /assets/images/02/group-05/25/25_profile@3x.png 3x
            "
          />

          <div class="quote text-strong-2">
            &ldquo;
            <div class="text">
              <h3 class="section_title section25-title">
                <div class="text-light">
                  <span class="text-strong"
                    >아래에서 불이 들어오니까 신호등이 초록색인지 빨간색인지 알
                    수 있을 것 같아요.</span
                  ><br />
                  신기하기도 하고, 학교가는 길이 더 재미있을 거 같아요.
                </div>
              </h3>
            </div>
            &rdquo;
          </div>
        </div>
      </div>
      <div
        class="page02_group05_section26 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-05/26/26_img1.png"
          srcset="
            /assets/images/02/group-05/26/26_img1@2x.png 2x,
            /assets/images/02/group-05/26/26_img1@3x.png 3x
          "
        />
        <h2 class="section_title section26-title">
          <div class="text-light">
            <span class="text-strong"
              >횡단보도 앞 옐로우 존과 공룡 모양의 노랑발자국도</span
            ><br />
            운전자들이 아이들을 쉽게 인지하는 데 도움을 줍니다.
          </div>
        </h2>
      </div>

      <div
        class="page02_group05_section27 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-05/27/27_img.png"
          srcset="
            /assets/images/02/group-05/27/27_img@2x.png 2x,
            /assets/images/02/group-05/27/27_img@3x.png 3x
          "
        />
        <h2 class="section_title section27-title">
          <div class="text-light">
            앞으로 해야 할 일이 더 있어요.<br />
            아이들을 차로 태우고 내릴 구역을 도로에 만들면 교통혼잡이 심해진다는
            우려가 있었어요.<br />
            대신,
            <span class="text-strong"
              >학교 내부 등 차량이 다니지 않는 공간에 승하차 구역을 만드는
              대안을 모색하고 있어요.</span
            >
          </div>
        </h2>
      </div>
      <div
        class="page02_group05_section28 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-05/28/28_img.png"
          srcset="
            /assets/images/02/group-05/28/28_img@2x.png 2x,
            /assets/images/02/group-05/28/28_img@3x.png 3x
          "
        />
        <h2 class="section_title section28-title">
          <div class="text-light">
            아이들 눈높이에 맞는
            <span>바닥 LED 점멸신호등을 추가로 설치</span>하면, 아이들이 보다
            안전해지겠죠.
          </div>
        </h2>
      </div>

      <div
        class="page02_group05_section30 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-05/30/30_img.png"
          srcset="
            /assets/images/02/group-05/30/30_img@2x.png 2x,
            /assets/images/02/group-05/30/30_img@3x.png 3x
          "
        />
        <h2 class="section_title section30-title">
          <div class="text-strong">
            낡은 도시가 새로운 모습으로 단장할 때,<br />
            <span
              >광주 계림도담길처럼 통학로 안전을 챙기는 모습이 전국 곳곳에
              늘어나기를 희망해요.</span
            >
          </div>
        </h2>
        <div class="statistics-contents">
          <h3 class="text-light fading-text">
            <span id="splitText7"></span>
          </h3>
          <h3 class="text-light fading-text">
            <span class="text-strong" id="splitText8"></span>
            <span id="splitText9"></span>
            <span class="text-strong" id="splitText10"></span>
            <span id="splitText11"></span>
          </h3>
          <h3 class="text-light fading-text">
            <span id="splitText12"></span>
            <span class="text-strong" id="splitText13"></span>
            <span id="splitText14"></span>
            <span id="splitText15"></span>
          </h3>
          <h3 class="text-light fading-text">
            <span id="splitText16"></span>
          </h3>
          <h3 class="text-light fading-text">
            <span id="splitText17"></span>
          </h3>
        </div>
      </div>
    </div>
  </body>
</html>
<!DOCTYPE html>
