<!DOCTYPE html>
<html>
  <body>
    <div class="group_04">
      <div
        class="page02_group04_section16 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-04/16/16_img.png"
        />
        <h2 class="section_title section16-title">
          <div class="text-light">
            후문으로 가는 통학로 옆 3차선 도로는
            <span class="text-strong">
              지형이 기울어져 있어 차량이 과속하기 쉬워요.<br />
              맞은 편에 또 다른 아파트 단지를 짓고 있어서 공사 차량도 많이
              다녀요.
            </span>
          </div>
        </h2>
      </div>
      <div
        class="video-fullscreen-container page02_group04_section17 fullscreen scrollable hide_scroll"
      >
        <div class="video-container">
          <video id="controlled-video-car-on-street">
            <source src="/assets/videos/car-on-street.mp4" type="video/mp4" />
            귀하의 브라우저는 HTML5 비디오를 지원하지 않습니다
          </video>
          <div class="video-playpause">
            <img
              src="/assets/svgs/icon_play.svg"
              height="170px"
              width="170px"
            />
          </div>
        </div>
      </div>
      <div
        class="page02_group04_section18 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-04/18/18_img.png"
        />
        <h2 class="section_title section18-title">
          <div class="text-light">
            후문 옆 차도에
            <span class="text-strong"
              >지면에서 10cm가량 높은 고원식 횡단보도</span
            >를 <span class="text-strong">3개 설치</span>했어요.<br />
            기존에 있던 과속방지턱까지 더해 차량이 이 구간에서 속도를 낼 수 없게
            한 것이죠.
          </div>
        </h2>
      </div>
      <div
        class="page02_group04_section19 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-04/19/19_img.png"
        />
        <h2 class="section_title section19-title">
          <div class="text-light">
            횡단보도와 보행로 주변에는<br />
            <span class="text-strong">볼라드와 안전펜스를 설치</span>했어요.
          </div>
        </h2>
      </div>
      <div
        class="page02_group04_section20 fullscreen scrollable"
        id="main-content"
      >
        <div class="column">
          <h3 class="section_title section20-title line1">
            <div class="text-light">
              <div class="goingUp-text">
                인근에서 아이를 키우는 한선영씨는 말합니다.
              </div>
            </div>
          </h3>
          <img
            class="profile"
            src="/assets/images/02/group-04/20/20_profile.png"
          />

          <div class="quote text-strong-2">
            &ldquo;
            <div class="text">
              <h3 class="section_title section20-title">
                <div class="text-light">
                  후문 통학로 옆 도로는 내리막길인데다,<br />후문 맞은 편에 있는
                  공사장을 오가는 대형 차량들이 많아 걱정이 많이 됐었죠.<br />하지만
                  예전보다 확실히 차량 속도가 줄어든 것 같아요.
                </div>
              </h3>
            </div>
            &rdquo;
          </div>
        </div>
      </div>
      <div
        class="page02_group04_section21 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-04/21/21_img1.png"
        />
        <h2 class="section_title section21-title">
          <div class="text-light">
            통학로 옆 낡은 건물 벽면을 꾸며 밝은 분위기를 내게 했고,<br />
            <span class="text-strong"
              >아이들을 기다리는 부모들이 쉴 수 있는 벤치도 마련했어요.</span
            >
          </div>
        </h2>
      </div>
      <div
        class="page02_group04_section22 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-04/22/22_img.png"
        />
        <h2 class="section_title section22-title">
          <div class="text-light">
            횡단보도에 설치한
            <span class="text-strong">‘바닥형 LED 점멸신호등’</span>이 아이들의
            눈길을 사로 잡아요.<br /><br />
            등하교 시간에 후문 통학로 옆 차도는 꽉 막히는데,<br />
            아이들은 꼬리를 물고 서 있는 차량에 시야가 막혀 이따금씩 신호등을 잘
            보지 못해요.<br /><br />
            바닥 LED 점멸 신호등은 이런 아이들에게 도움을 주죠.
          </div>
        </h2>
      </div>
      <div
        class="video-fullscreen-container page02_group04_section23 fullscreen scrollable hide_scroll"
      >
        <div class="video-container">
          <video id="controlled-video-walking-girl">
            <source src="/assets/videos/walking-girl.mp4" type="video/mp4" />
            귀하의 브라우저는 HTML5 비디오를 지원하지 않습니다
          </video>
          <div class="video-playpause">
            <img
              src="/assets/svgs/icon_play.svg"
              height="170px"
              width="170px"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!DOCTYPE html>
