<!DOCTYPE html>
<html>
  <body>
    <div class="group_03">
      <div
        class="page02_group03_section16 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-03/section-16/16_img.png"
        />
        <h2 class="section_title section16-title">
          <div class="text-light">
            <br />
            <span class="text-strong">도담</span>은
            <span class="text-strong">야무지고 복스럽다는 우리말</span
            >로,<br /><span class="text-strong"
              >아이들이 안전하게 자라야 할 길</span
            >이라는 의미를 담았어요.<br /><br />

            계림도담길에 설치한 쉼터는 태양열을 이용해 밤에 빛을 비추고 밖에서도
            쉼터 안이 보이도록 만들었죠. 청소년 범죄에 악용되지 않도록요.<br /><br />
          </div>
        </h2>
      </div>
      <div
        class="page02_group03_section17 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-03/section-17/17_img.png"
        />
        <h3 class="section_title section17-title">
          <div class="text-light">
            아이들이 좋아할만한 캐릭터 조형물도 밤에 빛을 비춥니다.
          </div>
        </h3>
      </div>
      <div
        class="page02_group03_section18 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-03/section-18/18_img.png"
        />
        <h3 class="section_title section18-title">
          <div class="text-light">
            계림도담길이 시작되는 도로에는<br />
            <span class="text-strong"
              >차량현재속도 표시장치와 과속방지턱을 새로 설치</span
            >했어요.
          </div>
        </h3>
      </div>
      <div
        class="page02_group03_section22 fullscreen scrollable hide_scroll"
        id="main-content"
      >
        <h3 class="section_title section22-title title">
          <div class="text-strong">
            <div class="goingUp-text">
              계림초 통학로를 디자인한 정성구 총감독은 말해요.
            </div>
          </div>
        </h3>
        <img
          class="half_background"
          src="/assets/images/02/group-03/section-22/22_img.png"
        />
        <div class="quote text-strong-2">
          &ldquo;
          <div class="text">
            <h3 class="section_title section12-title">
              <div class="text-light">
                구도심이다 보니, 통학로와 차도를 완전하게 분리하긴
                어려웠어요.<br />
                대신 차량 운전자가 ‘내가 속도를 줄여야 구역에 진입했구나’<br />
                라고 쉽게 인지할 수 있도록 하는 데 초점을 맞췄습니다.<br />
              </div>
            </h3>
          </div>
          &rdquo;
        </div>
      </div>
      <div
        class="page02_group03_section23 fullscreen scrollable section_scroll"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-03/section-23/23_img.png"
        />
        <h3 class="section_title section23-title">
          <div class="text-light">
            <div class="goingUp-text">
              2018년 전후로 계림초 주변에 재개발 아파트 단지가 들어섰어요. 이<br />
              때문에 학생 수가 몇 년 사이 두 배 가까이 늘었어요.
            </div>
          </div>
        </h3>
      </div>
      <div
        class="page02_group03_section24 fullscreen scrollable"
        id="main-content"
      >
        <img
          class="fullscreen street_background"
          src="/assets/images/02/group-03/section-24/24_img.png"
        />
        <h3 class="section_title section24-title">
          <div class="text-light">
            학교 후문 주변에 아파트 단지가 들어서면서<br />
            <span class="text-strong">정문보다 후문으로 통학하는 학생들</span>이
            더 많아졌어요.
          </div>
        </h3>
      </div>
    </div>
  </body>
</html>
<!DOCTYPE html>
