<!DOCTYPE html>
<html>
  
  <body>
    
    <div class="page02_section01 fullscreen">
      <div class="tag-title">공공디자인으로 행복한 공간 만들기</div>
      <div class="main-title">
        <h1>
          <span class="text-light">개발되는 옛 도심, </span
          ><span class="text-strong">통학로도 새단장</span>
        </h1>
        <h5 class="flex-center">
          <span class="text-strong">다정한 도시</span>
          <div class="rounded-number flex-center">2</div>
          <span class="text-light">광주광역시 계림도담길</span>
        </h5>
      </div>
      <a href="#main-content">
        <div class="scroll-down">
          <span class="text-light">Scroll Down</span>
          <img src="/assets/svgs/icon_down-arrow.svg" alt="scroll-down" /></div
      ></a>
    </div>
    <div class="page02_section02 fullwidth" id="main-content">
      <img
        class="fullwidth street_background"
        src="/assets/images/02/street-bg/02_bg.png"
      
      />
      <h2 class="section02-title text-strong-2">
        &ldquo;
        <div class="text-strong">
          <div class="goingUp-text">어린이는 성인보다 시야가 좁아요.<br/>
            어디서 소리가 나는지 금방 알아채지 못하고<br/>
            한 가지 일에 집중하면 주변 환경엔 둔감해져요.</div>
        </div>
        &rdquo;
      </h2>
      
    </div>
    <div class="page02_section03 fullwidth" id="main-content">
      <img
        class="fullwidth street_background"
        src="/assets/images/02/street-bus-bg/04_img.png"
        srcset="
          /assets/images/02/street-bus-bg/04_img@2x.png 2x,
          /assets/images/02/street-bus-bg/04_img@3x.png 3x
        "
      />
      <h2 class="section03-title text-strong-2">
        &ldquo;
        <div class="text-strong">
          <div class="goingUp-text">어린이는 성인보다 시야가 좁아요.<br/>
            어디서 소리가 나는지 금방 알아채지 못하고<br/>
            한 가지 일에 집중하면 주변 환경엔 둔감해져요.</div>
        </div>
        &rdquo;
      </h2>
      
    </div>
  </body>
</html>
<!DOCTYPE html>