@import '../components/media.css';
@import '../components/tag.css';
@import '../components/gallery.css';
@import '../components/circle-cursor.css';
@import '../components/scroll-progress-2.css';

.page01_hero {
  position: relative;
  color: var(--white);
  background-attachment: fixed;
}

.page01_hero .tag-title {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  background-color: var(--white);
  color: var(--dark);
  border-radius: 30px;
  padding: 7px 31px;
  width: max-content;
}

.page01_hero .main-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
}

.page01_hero .main-title h5 {
  margin-top: 43px;
}

.page01_hero .main-title .rounded-number {
  font-size: 21px;
  width: 26px !important;
  aspect-ratio: 1;
  height: auto;
  border: 1px solid var(--white);
  border-radius: 13px;
  margin: 0 9px 0 19px;
}

.page01_hero .scroll-down {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
}

.page01_hero .scroll-down img {
  width: 44px;
  aspect-ratio: 1;
  height: auto;
}

/* ------------------------------ quote section ------------------------------ */

.page01 div.page01_quotes {
  position: relative;
  background-color: var(--light);
}

.page01 div.page01_quotes h1.quotes-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;

  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 74px;
}

.page01 div.page01_quotes h1.quotes-title > div {
  border-bottom: 5px solid var(--secondary);
  padding: 45px 0 23px;
  color: var(--dark);
}

/* ------------------------------ intro section ------------------------------ */
.page01_intro.no1 {
  background-image: url(../../assets/images/01/old-man-bg/06_img.png) !important;
}
.page01_intro.no2 {
  background-image: url(../../assets/images/01/old-woman-bg/07_img.png) !important;
}

.page01 div.page01_intro {
  position: relative;
}

.page01 div.page01_intro h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  color: var(--white);
}

.page01 div.page01_intro h2.left {
  left: 100px;
  text-align: left;
}

.page01 div.page01_intro h2.right {
  right: 150px;
  text-align: right;
}

/* ------------------------------ statistics section ------------------------------ */

.page01 div.page01_statistics {
  background-color: var(--light);
  padding: 0 100px;
  display: flex;
  align-items: center;
}

.page01 .page01_statistics-inner {
  flex: 1;
}

.page01 div.page01_statistics .statistics {
  display: flex;
  margin-top: 88px;
}

.page01 div.page01_statistics .statistics-chart {
  width: 50%;
  background-color: var(--white);
  padding: 40px 45px;
}

.page01 div.page01_statistics .statistics-chart > *:not(canvas) {
  margin-top: 26px;
  text-align: center;
}

.page01 div.page01_statistics .statistics-chart > .flex-center {
  gap: 25px;
}

.page01 div.page01_statistics .statistics-chart .primary {
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  margin-right: 10px;
}

.page01 div.page01_statistics .statistics-chart .secondary {
  width: 20px;
  height: 20px;
  background-color: var(--primary-light);
  margin-right: 10px;
}

.page01 div.page01_statistics .statistics-contents {
  width: 50%;
  padding-left: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

/* ------------------------------ map section ------------------------------ */

.page01 div.page01_map {
  position: relative;
}

.page01 div.page01_map .map-popup-content {
  position: absolute;
  transform: translate(-50%, -88%);
  background-color: rgb(0, 0, 0, 0.5);
  padding: 56px 64px;
  color: var(--white);
  text-align: center;
  width: max-content;
}

.page01 div.centre-2d-map-info.no1 {
  background-image: url(../../assets/images/01/map/map-f3.png) !important;
}

.page01 div.page01_map .map-popup-content.point1 {
  top: 53%;
  left: 65%;
}

.page01 div.page01_map .map-popup-content.point2 {
  top: 42%;
  left: 58%;
}

.page01 div.page01_map .circle-yellow {
  position: absolute;
  width: 50px;
  aspect-ratio: 1;
  height: auto;
  padding: 16px;
  background-color: #d6c96166;
  border-radius: 25px;
}

.page01 div.page01_map .circle-yellow.point1 {
  top: 53%;
  left: 65%;
}

.page01 div.page01_map .circle-yellow.point2 {
  top: 42%;
  left: 58%;
}

.page01 div.page01_map .circle-yellow > div {
  height: 18px;
  aspect-ratio: 1;
  height: auto;
  background-color: #d6c961;
  border-radius: 27px;
}

.page01 div.focused-place {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  gap: 90px;
}

.page01 div.focused-place.mobile {
  background-color: var(--dark) !important;
}

.page01 div.focused-place > * {
  flex: 1;
  max-width: 690px;
}

.page01 div.focused-place > img {
  max-width: 690px;
  height: auto;
  aspect-ratio: 1;
}

.page01 div.focused-place > div {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* ------------------------------ gallery section ------------------------------ */

.page01 div.page01_gallery {
  padding-top: 90px;
}

/* ------------------------------ centre-2d-map section ------------------------------ */
.page01 .top-fixed-2d-map {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: auto;
  opacity: 0;
}

.page01 .top-fixed-2d-map img {
  width: 100%;
  height: auto;
}

.page01 div.centre-2d-map-info {
  position: relative;
  background-color: var(--white);
  color: var(--white);
}

.page01 div.centre-2d-map-info .absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.page01 div.centre-2d-map-info .info-content {
  position: absolute;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 32px 20px;
  width: max-content;
  max-width: calc(100vw - 100px * 2);
}

.page01 div.centre-2d-map-info .info-content.left {
  left: 100px;
  text-align: left;
}

.page01 div.centre-2d-map-info .info-content.right {
  right: 100px;
  text-align: right;
}

.page01 div.centre-2d-map-info-3d {
  cursor: grab;
  position: relative;
}

.page01 .mobile-3d1 {
  cursor: auto;
  background-image: url('../../assets/images/01/2d-map-4th/36.1.JPG');
}

.page01 .mobile-3d2 {
  cursor: auto;
  background-image: url('../../assets/images/01/2d-map-5th/41.1.JPG');
}

.page01 div.centre-2d-map-info-3d .notice-message {
  background-color: var(--green);
  padding: 12px;
  font-size: 28px;
  color: var(--dark);
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* ------------------------------ garden life guide section ------------------------------ */

.page01 div.page01_garden-life-guide {
  background-color: var(--light);
  text-align: center;
}
.page01 div.page01_garden-life-guide:first-of-type {
  padding: 90px 160px 0;
}
.page01 div.page01_garden-life-guide:nth-of-type(2) {
  padding: 0 160px;
}
.page01 div.page01_garden-life-guide:nth-of-type(3) {
  padding: 0 160px 180px;
}

.page01 div.page01_garden-life-guide .block-content1 {
  margin-top: 100px;
}

.page01 div.page01_garden-life-guide .block-content2 {
  margin-top: 60px;
}

.page01 div.page01_garden-life-guide .video-container {
  margin-top: 90px;
}

.page01 div.page01_garden-life-guide .block-content3 {
  margin-top: 100px;
}

/* ------------------------------ garden life feedback section ------------------------------ */

.page01 div.page01_garden-life-feedback > .fullscreen {
  display: flex;
  align-items: flex-end;
  background-color: var(--white);
}

.page01 div.page01_garden-life-feedback .title {
  position: absolute;
  bottom: calc(100% + 50px);
}

.page01 div.page01_garden-life-feedback .title.left {
  left: 160px;
}

.page01 div.page01_garden-life-feedback .title.right {
  right: 160px;
}

.page01 div.page01_garden-life-feedback .feedback-container {
  width: 100%;
  height: 760px;
  max-height: 80vh;
  position: relative;
}

.page01 div.page01_garden-life-feedback .feedback-container img {
  width: 100%;
  height: 100%;
}

.page01 div.page01_garden-life-feedback .feedback-content {
  position: absolute;
  text-align: center;
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 80px;
  width: max-content;
}

.page01 div.page01_garden-life-feedback .feedback-content.left {
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
}

.page01 div.page01_garden-life-feedback .feedback-content.right {
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

.page01 div.page01_garden-life-feedback .feedback-content.bottom {
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
}

.page01 div.page01_garden-life-feedback .feedback-content h3 {
  color: var(--white);
}

/* ------------------------------ oganization content section ------------------------------ */

.page01 div.page01_oganization-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 70px;
  background-color: var(--white);
}

.page01 div.page01_oganization-content.pt-90 {
  padding-top: 90px;
}

.page01 div.page01_oganization-content.pb-90 {
  padding-bottom: 90px;
}

.page01 div.page01_oganization-content .content {
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 60px;
  font-size: 80px;
}

.page01 div.page01_oganization-content img {
  width: 360px;
  aspect-ratio: 1;
  height: auto;
}

.page01 div.page01_oganization-content h3 {
  color: var(--dark);
  width: max-content;
}

/* responsive */
@media only screen and (max-width: 1919px) {
}

@media only screen and (max-width: 1279px) {
  .page01_hero .tag-title {
    top: 100px;
    font-size: 24px;
    padding: 5px 20px;
  }
  .page01_hero .main-title h5 {
    margin-top: 36px;
  }
  .page01_hero .main-title .rounded-number {
    font-size: 18px;
  }
  .page01_hero .scroll-down {
    bottom: 60px;
    gap: 12px;
    font-size: 18px;
  }
  .page01_hero .scroll-down img {
    width: 30px;
  }

  /* ------------------------------ quote section ------------------------------ */
  .page01 div.page01_quotes h1.quotes-title {
    gap: 40px;
  }
  .page01 div.page01_quotes h1.quotes-title > div {
    padding: 36px 0 20px;
  }
  /* .fading-image.no1 {
    width: 160vw;
    transform: translateX(-30%);
  }
  .fading-image.no2 {
    width: 120vw;
  } */

  /* ------------------------------ intro section ------------------------------ */
  .page01_intro.no1 {
    background-position: 65% 50%;
  }
  .page01_intro.no2 {
    background-position: 45% 50%;
  }
  .page01 div.page01_intro h2.left {
    left: 50px;
  }
  .page01 div.page01_intro h2.right {
    right: 50px;
  }

  /* ------------------------------ statistics section ------------------------------ */
  .page01 div.page01_statistics {
    padding: 0;
  }
  .page01 .page01_statistics-inner {
    flex: 1;
    height: 100vh;
    max-height: var(--doc-height);
    width: 680px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }
  .page01 div.page01_statistics .statistics {
    flex: 1;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 680px;
  }
  .page01 div.page01_statistics .statistics-chart {
    flex: unset;
    width: 100%;
    padding: 16px 80px;
  }
  .page01 div.page01_statistics .statistics-chart > *:not(canvas) {
    margin-top: 12px;
  }
  .page01 div.page01_statistics .statistics-chart > .flex-center {
    gap: 12px;
  }
  .page01 div.page01_statistics .statistics-chart .primary,
  .page01 div.page01_statistics .statistics-chart .secondary {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
  .page01 div.page01_statistics .statistics-contents {
    width: 100%;
    padding-left: 80px;
    gap: 20px;
  }

  /* ------------------------------ map section ------------------------------ */
  .page01 div.page01_map .map-popup-content {
    transform: translate(-48%, -86%);
    padding: 36px;
  }
  .page01 div.page01_map .map-popup-content.point1,
  .page01 div.page01_map .circle-yellow.point1 {
    top: 53%;
    left: 63%;
  }
  .page01 div.page01_map .map-popup-content.point2,
  .page01 div.page01_map .circle-yellow.point2 {
    top: 39%;
    left: 58%;
  }
  .page01 div.page01_map .circle-yellow {
    width: 40px;
    padding: 12px;
  }
  .page01 div.page01_map .circle-yellow > div {
    width: 16px;
  }
  .page01 div.focused-place {
    gap: 90px;
    flex-direction: column;
  }
  .page01 div.focused-place > * {
    flex: unset;
  }
  .page01 div.focused-place > img {
    width: 450px;
  }
  /* ------------------------------ gallery section ------------------------------ */
  .page01 div.page01_gallery {
    padding-top: 60px;
  }
  /* ------------------------------ oganization content section ------------------------------ */
  .page01 div.page01_oganization-content {
    gap: 48px;
  }
  .page01 div.page01_oganization-content.pt-90 {
    padding-top: 72px;
  }
  .page01 div.page01_oganization-content.pb-90 {
    padding-top: 72px;
  }
  .page01 div.page01_oganization-content .content {
    gap: 40px;
    font-size: 60px;
    max-width: 95%;
  }
  .page01 div.page01_oganization-content img {
    width: 280px;
  }
  /* ------------------------------ centre-2d-map section ------------------------------ */
  .page01 .top-fixed-2d-map {
    top: 24px;
    left: 24px;
    width: 400px;
  }
  .page01 div.centre-2d-map-info .info-content {
    bottom: 50px;
    left: 50% !important;
    text-align: center !important;
    transform: translateX(-50%);
    gap: 32px;
    padding: 24px;
    max-width: calc(100vw - 120px);
  }
  .page01 div.centre-2d-map-info-3d .notice-message {
    background-color: var(--green);
    padding: 12px;
    font-size: 28px;
    bottom: 50px;
  }
  /* ------------------------------ garden life feedback section ------------------------------ */
  .page01 div.page01_garden-life-feedback .title {
    bottom: calc(100% + 36px);
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    text-align: center;
  }
  .page01 div.page01_garden-life-feedback .feedback-content {
    gap: 40px;
    font-size: 60px;
    max-width: 95%;
  }
  .page01 div.page01_garden-life-feedback .feedback-content.left,
  .page01 div.page01_garden-life-feedback .feedback-content.right,
  .page01 div.page01_garden-life-feedback .feedback-content.bottom {
    top: unset;
    bottom: 60px !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
  /* ------------------------------ garden life guide section ------------------------------ */
  .page01 div.page01_garden-life-guide:first-of-type {
    padding: 80px 80px 0;
  }
  .page01 div.page01_garden-life-guide:nth-of-type(2) {
    padding: 0 80px;
  }
  .page01 div.page01_garden-life-guide:nth-of-type(3) {
    padding: 0 80px 80px;
  }
  .page01 div.page01_garden-life-guide .block-content1 {
    margin-top: 56px;
    text-align: left;
  }
  .page01 div.page01_garden-life-guide .block-content2 {
    margin-top: 36px;
    text-align: left;
  }
  .page01 div.page01_garden-life-guide .video-container {
    margin-top: 40px;
  }
  .page01 div.page01_garden-life-guide .block-content3 {
    margin-top: 40px;
    text-align: left;
  }
  /* video */
  .page01 div.embedded-video {
    height: auto;
    padding: 80px 0 160px;
  }
}

@media only screen and (max-width: 767px) {
  .page01_hero .tag-title {
    top: 50px;
    font-size: 18px;
    padding: 4px 12px;
  }
  .page01_hero .main-title h5 {
    margin-top: 24px;
  }
  .page01_hero .main-title .rounded-number {
    font-size: 16px;
  }
  .page01_hero .scroll-down {
    bottom: 60px;
    gap: 8px;
    font-size: 16px;
  }
  .page01_hero .scroll-down img {
    width: 22px;
  }

  /* ------------------------------ quote section ------------------------------ */
  .page01 div.page01_quotes h1.quotes-title {
    gap: 20px;
    max-width: 90vw !important;
    text-align: center;
  }
  .page01 div.page01_quotes h1.quotes-title > div {
    padding: 20px 0 10px;
  }
  /* .fading-image.no1 {
    width: 200vw;
    transform: translateX(-50%);
  }
  .fading-image.no2 {
    width: 130vw;
  } */

  /* ------------------------------ intro section ------------------------------ */
  .page01 div.page01_intro h2 {
    width: 90vw;
    left: 50% !important;
    transform: translateX(-50%);
    text-align: left !important;
  }

  /* ------------------------------ statistics section ------------------------------ */
  .page01 .page01_statistics-inner {
    width: 100%;
    gap: 40px;
    padding: 40px 0;
  }
  .page01 div.page01_statistics .statistics {
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 95vw;
  }
  .page01 div.page01_statistics .statistics-chart {
    padding: 16px;
    flex: unset;
  }
  .page01 div.page01_statistics .statistics-contents {
    padding-left: 16px;
    gap: 12px;
  }

  /* ------------------------------ map section ------------------------------ */
  .page01 div.page01_map .map-popup-content {
    padding: 20px 20px 24px;
    width: 90vw;
    transform: translate(-50%, -50%);
  }
  .page01 div.page01_map .map-popup-content.point1,
  .page01 div.page01_map .circle-yellow.point1,
  .page01 div.page01_map .map-popup-content.point2,
  .page01 div.page01_map .circle-yellow.point2 {
    top: 50%;
    left: 50%;
  }
  .page01 div.page01_map .circle-yellow {
    padding: 12px;
    transform: translate(-50%, 100%);
  }
  .page01 div.focused-place > img,
  .page01 div.focused-place > div {
    width: 80vw;
    text-align: left;
  }
  .page01 div.centre-2d-map-info.no1 {
    background-image: url(../../assets/images/01/map/map-f3.png),
      url(../../assets/images/01/map/bg.png) !important;
    background-size: 190%, cover;
    background-position: -47vw 20vh, center;
  }
  /* ------------------------------ centre-2d-map section ------------------------------ */

  /* ------------------------------ garden life feedback section ------------------------------ */
  .page01 div.page01_garden-life-feedback .feedback-comp {
    max-width: 100%;
    max-height: 100%;
  }
  /* .page01 .top-fixed-2d-map {
    top: 5vw;
    left: 5vw;
    width: 80vw;
  }
  .page01 div.centre-2d-map-info .info-content {
    bottom: 50px;
    gap: 22px;
    padding: 12px;
    max-width: 90vw;
  }
  .page01 div.centre-2d-map-info-3d .notice-message {
    background-color: var(--green);
    padding: 12px;
    font-size: 28px;
    bottom: 50px;
  } */

  .page01 div.centre-2d-map-info .info-content {
    gap: 24px;
    padding: 12px;
    max-width: 90vw;
    text-align: left !important;
  }
  .page01 div.centre-2d-map-info:not(.no1),
  .page01_garden-life-feedback {
    background-size: cover;
  }
  .page01 div.centre-2d-map-info-3d .notice-message {
    font-size: 20px;
    width: 90vw;
  }
  /* ------------------------------ oganization content section ------------------------------ */
  .page01 div.page01_oganization-content {
    gap: 20px;
  }
  .page01 div.page01_oganization-content .content {
    gap: 20px;
    font-size: 40px;
    max-width: 95vw;
  }
  .page01 div.page01_oganization-content img {
    width: 250px;
  }
  /* ------------------------------ garden life guide section ------------------------------ */
  .page01 div.page01_garden-life-guide:first-of-type {
    padding: 40px 5vw 0;
  }
  .page01 div.page01_garden-life-guide:nth-of-type(2) {
    padding: 0 5vw;
  }
  .page01 div.page01_garden-life-guide:nth-of-type(3) {
    padding: 0 5vw 40px;
  }
  .page01 div.page01_garden-life-guide .block-content1 {
    margin-top: 24px;
  }
  .page01 div.page01_garden-life-guide .block-content2 {
    margin-top: 16px;
  }
  .page01 div.page01_garden-life-guide .video-container,
  .page01 div.page01_garden-life-guide .block-content3 {
    margin-top: 20px;
  }
  /* video */
  .page01 div.embedded-video {
    height: auto;
    padding: 40px 0 80px;
  }
}

@media only screen and (max-width: 399px) {
}
