@import '../components/media.css';
@import '../components/tag.css';
@import '../components/gallery.css';
@import '../components/circle-cursor.css';

.page01_hero {
  position: relative;
  color: var(--white);
  background-attachment: fixed;
}

.page01_hero .tag-title {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  background-color: var(--white);
  color: var(--dark);
  border-radius: 30px;
  padding: 7px 31px;
}

.page01_hero .main-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.page01_hero .main-title h5 {
  margin-top: 43px;
}

.page01_hero .main-title .rounded-number {
  font-size: 21px;
  width: 26px;
  height: 26px;
  border: 1px solid var(--white);
  border-radius: 13px;
  margin: 0 9px 0 19px;
}

.page01_hero .scroll-down {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
}

/* ------------------------------ quote section ------------------------------ */

.page01 div.page01_quotes {
  position: relative;
  background-color: var(--light);
}

.page01 div.page01_quotes h1.quotes-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;

  color: var(--secondary);
  font-size: 50px;
  display: flex;
  align-items: center;
  gap: 74px;
}

.page01 div.page01_quotes h1.quotes-title > div {
  border-bottom: 5px solid var(--secondary);
  padding: 45px 0 23px;
  color: var(--dark);
}

/* ------------------------------ intro section ------------------------------ */

.page01 div.page01_intro {
  position: relative;
}

.page01 div.page01_intro h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;

  font-family: NotoSans-Bold;
  font-size: 40px;
  color: var(--white);
}

.page01 div.page01_intro h2.left {
  left: 100px;
  text-align: left;
}

.page01 div.page01_intro h2.right {
  right: 100px;
  text-align: right;
}

/* ------------------------------ statistics section ------------------------------ */

.page01 div.page01_statistics {
  background-color: var(--light);
  padding: 0 100px;
  display: flex;
  align-items: center;
}

.page01 div.page01_statistics .statistics {
  display: flex;
  margin-top: 88px;
}

.page01 div.page01_statistics .statistics-chart {
  width: 50%;
  background-color: var(--white);
  padding: 40px 45px;
}

.page01 div.page01_statistics .statistics-chart > *:not(canvas) {
  margin-top: 26px;
  text-align: center;
}

.page01 div.page01_statistics .statistics-chart .primary {
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  margin-right: 10px;
}

.page01 div.page01_statistics .statistics-chart .secondary {
  width: 20px;
  height: 20px;
  background-color: var(--primary-light);
  margin-right: 10px;
}

.page01 div.page01_statistics .statistics-contents {
  width: 50%;
  padding-left: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

/* ------------------------------ map section ------------------------------ */

.page01 div.page01_map {
  position: relative;
}

.page01 div.page01_map .map-popup-content {
  position: absolute;
  transform: translate(-50%, -88%);
  background-color: rgb(0, 0, 0, 0.5);
  padding: 56px 64px;
  color: var(--white);
  text-align: center;
  width: max-content;
}

.page01 div.page01_map .map-popup-content.point1 {
  top: 53%;
  left: 65%;
}

.page01 div.page01_map .map-popup-content.point2 {
  top: 42%;
  left: 58%;
}

.parallax-page01_map {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/01/map/map-bg.png);
  background-size: 120%;
  transform-origin: 95% 95%;
  -webkit-transform-origin: 95% 95%;
}

.page01 div.page01_map .circle-yellow {
  position: absolute;
  top: 53%;
  left: 65%;
  height: 50px;
  width: 50px;
  padding: 16px;
  background-color: #d6c96166;
  border-radius: 25px;
}

.page01 div.page01_map .circle-yellow.point1 {
  top: 53%;
  left: 65%;
}

.page01 div.page01_map .circle-yellow.point2 {
  top: 42%;
  left: 58%;
}

.page01 div.page01_map .circle-yellow > div {
  height: 18px;
  width: 18px;
  background-color: #d6c961;
  border-radius: 27px;
}

.page01 div.focused-place {
  /* position: absolute;
  top: 0;
  left: 0; */
  background-color: rgb(0, 0, 0, 0.7);
  gap: 90px;
}

.page01 div.focused-place > * {
  flex: 1;
  max-width: 690px;
}

.page01 div.focused-place > img {
  max-width: 690px;
  height: auto;
  aspect-ratio: 1;
}

.page01 div.focused-place > div {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* ------------------------------ gallery section ------------------------------ */

.page01 div.page01_gallery {
  padding-top: 90px;
}

/* ------------------------------ centre-2d-map section ------------------------------ */

/* .page01 .page01-main-minimap {
  display: none;
} */

.page01 div.page01_centre-2d-map {
  position: relative;
  padding: 90px 200px 90px 72px;
  background-color: #cacaca;
  background-image: url(/assets/images/01/map/bg.png);
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
}

.page01_centre-2d-map-fixed {
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  height: 100vh !important;
  width: 100% !important;
  overflow: hidden !important;
}

/* .page01 div.page01_centre-2d-map-1 {
  position: relative;
  padding: 90px 200px 90px 72px;
  background-color: #cacaca;
  background-image: url(/assets/images/01/2d-map-image/map-1.png),
    url(/assets/images/01/map/bg.png);
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
} */
.page01 div.page01_centre-2d-map-1 {
  width: 100%;
  height: 100vh;
}

/* .page01 div.page01_centre-2d-map-2 {
  position: relative;
  padding: 90px 200px 90px 72px;
  background-color: #cacaca;
  background-image: url(/assets/images/01/2d-map-image/map-2.png),
    url(/assets/images/01/map/bg.png);
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
} */
.page01 div.page01_centre-2d-map-2 {
  width: 100%;
  height: 100vh;
}

/* .page01 div.page01_centre-2d-map-3 {
  position: relative;
  padding: 90px 200px 90px 72px;
  background-color: #cacaca;
  background-image: url(/assets/images/01/2d-map-image/map-3.png),
    url(/assets/images/01/map/bg.png);
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
} */
.page01 div.page01_centre-2d-map-3 {
  width: 100%;
  height: 100vh;
}
/* .page01 div.page01_centre-2d-map-4 {
  position: relative;
  padding: 90px 200px 90px 72px;
  background-color: #cacaca;
  background-image: url(/assets/images/01/2d-map-image/map-4.png),
    url(/assets/images/01/map/bg.png);
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
} */
.page01 div.page01_centre-2d-map-4 {
  width: 100%;
  height: 100vh;
}

.page01 div.page01_centre-2d-map-5 {
  width: 100%;
  height: 100vh;
}
/* .page01 div.page01_centre-2d-map-5 {
  position: relative;
  padding: 90px 200px 90px 72px;
  background-color: #cacaca;
  background-image: url(/assets/images/01/2d-map-image/map-5.png),
    url(/assets/images/01/map/bg.png);
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
} */
.page01 div.page01_centre-2d-map-6 {
  width: 100%;
  height: 100vh;
}
/* .page01 div.page01_centre-2d-map-6 {
  position: relative;
  padding: 90px 200px 90px 72px;
  background-color: #cacaca;
  background-image: url(/assets/images/01/2d-map-image/map-6.png),
    url(/assets/images/01/map/bg.png);
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
} */

.page01 .top-fixed-2d-map {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: auto;
  opacity: 0;
  transition: 1s all;
}

.page01 .top-fixed-2d-map.active {
  opacity: 1;
}

.page01 div.centre-2d-map-info {
  position: relative;
  background-color: var(--white);
  color: var(--white);
}

.page01 div.centre-2d-map-info .centre-map-img-container {
  height: 80vh;
  width: fit-content;
  margin: auto;
  padding: 10vh 0;
}

.page01 div.centre-2d-map-info .centre-map-img-container img {
  width: 100%;
  height: 100%;
}

.page01 div.centre-2d-map-info .absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.page01 div.centre-2d-map-info .info-content {
  position: absolute;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 32px 20px;
  width: max-content;
  max-width: calc(100vw - 100px * 2);
}

.page01 div.centre-2d-map-info .info-content.left {
  left: 100px;
  text-align: left;
}

.page01 div.centre-2d-map-info .info-content.right {
  right: 100px;
  text-align: right;
}

.page01 div.centre-2d-map-info-3d {
  cursor: grab;
  position: relative;
}

.page01 div.centre-2d-map-info-3d .notice-message {
  background-color: var(--green);
  padding: 12px;
  font-size: 28px;
  color: var(--dark);
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* ------------------------------ garden life guide section ------------------------------ */

.page01 div.page01_garden-life-guide {
  background-color: var(--light);
  padding: 90px 160px 180px;
  text-align: center;
}

.page01 div.page01_garden-life-guide .block-content1 {
  margin-top: 100px;
}

.page01 div.page01_garden-life-guide .block-content2 {
  margin-top: 60px;
}

.page01 div.page01_garden-life-guide .video-container {
  margin-top: 90px;
}

.page01 div.page01_garden-life-guide .block-content3 {
  margin-top: 100px;
}

/* ------------------------------ garden life feedback section ------------------------------ */

.page01 div.page01_garden-life-feedback > .fullscreen {
  display: flex;
  align-items: flex-end;
  background-color: var(--white);
}

.page01 div.page01_garden-life-feedback .title {
  position: absolute;
  bottom: calc(100% + 50px);
}

.page01 div.page01_garden-life-feedback .title.left {
  left: 160px;
}

.page01 div.page01_garden-life-feedback .title.right {
  right: 160px;
}

.page01 div.page01_garden-life-feedback .feedback-container {
  width: 100%;
  height: 760px;
  max-height: 80vh;
  position: relative;
}

.page01 div.page01_garden-life-feedback .feedback-container img {
  width: 100%;
  height: 100%;
}

.page01 div.page01_garden-life-feedback .feedback-content {
  position: absolute;
  text-align: center;
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 80px;
  width: max-content;
}

.page01 div.page01_garden-life-feedback .feedback-content.left {
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
}

.page01 div.page01_garden-life-feedback .feedback-content.right {
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

.page01 div.page01_garden-life-feedback .feedback-content.bottom {
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
}

.page01 div.page01_garden-life-feedback .feedback-content > div {
  color: var(--white);
  font-size: 36px;
}

/* ------------------------------ oganization content section ------------------------------ */

.page01 div.page01_oganization-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  background-color: var(--white);
}

.page01 div.page01_oganization-content.pt-90 {
  padding-top: 90px;
}

.page01 div.page01_oganization-content.pb-90 {
  padding-bottom: 90px;
}

.page01 div.page01_oganization-content h3.content {
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 60px;
  font-size: 80px;
}

.page01 div.page01_oganization-content h3 > div {
  color: var(--dark);
  font-size: 36px;
  width: max-content;
}
