@import "../components/media.css";
@import "../components/tag.css";

.home {
}

/* ------------------------------ quote section ------------------------------ */

.home div.home-section_quotes {
  position: relative;
}

.home div.home-section_quotes h1.quotes-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;

  color: var(--secondary);
  font-size: 50px;
  display: flex;
  align-items: center;
  gap: 74px;
}

.home div.home-section_quotes h1.quotes-title div {
  border-bottom: 5px solid var(--secondary);
  padding: 45px 0 23px;
  color: var(--dark);
}

/* ------------------------------ intro section ------------------------------ */

.home div.home-section_intro {
  position: relative;
}

.home div.home-section_intro h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;

  font-family: NotoSans-Bold;
  font-size: 40px;
  color: var(--white);
}

.home div.home-section_intro h2.left {
  left: 100px;
  text-align: left;
}

.home div.home-section_intro h2.right {
  right: 100px;
  text-align: right;
}

/* ------------------------------ statistics section ------------------------------ */

.home div.home-section_statistics {
  background-color: var(--light);
  padding: 0 100px;
  display: flex;
  align-items: center;
}

.home div.home-section_statistics .statistics {
  display: flex;
  margin-top: 88px;
}

.home div.home-section_statistics .statistics-chart {
  width: 50%;
  background-color: var(--white);
  padding: 40px 45px;
}

.home div.home-section_statistics .statistics-chart p {
  margin-top: 26px;
}

.home div.home-section_statistics .statistics-contents {
  width: 50%;
  padding-left: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 43px;
}

/* ------------------------------ map section ------------------------------ */

/* animation */
@import "../animations/home.animation.css";
