.image-gallery {
  margin-top: 60px;
}

.image-gallery .image-gallery-cell {
  width: 22% !important;
  aspect-ratio: 1.5;
  height: auto;
  margin-right: 10px;
  background: var(--primary);
  counter-increment: image-gallery-cell;
}

.image-gallery .image-gallery-cell img {
  display: block;
  height: 100%;
  width: 100%;
}

.image-gallery .flickity-button {
  background-color: var(--primary) !important;
}

.image-gallery .flickity-button.previous {
  left: 15%;
}

.image-gallery .flickity-button.next {
  right: 15%;
}

.image-gallery .flickity-button svg.flickity-button-icon {
  fill: var(--white);
}

@media only screen and (max-width: 1919px) {
  .image-gallery {
    margin-top: 40px;
  }
  /* .image-gallery .image-gallery-cell {
    width: 30% !important;
  } */
}

@media only screen and (max-width: 1279px) {
  .image-gallery .image-gallery-cell {
    width: 30% !important;
  }
}

@media only screen and (max-width: 399px) {
}
