div.section-title-tag {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 30px;
  padding: 7px 31px;
  width: fit-content;
  margin: auto;
  font-size: 36px;
}

@media only screen and (max-width: 1919px) {
  div.section-title-tag {
    font-size: 28px;
    padding: 6px 26px;
  }
}

@media only screen and (max-width: 767px) {
  div.section-title-tag {
    font-size: 20px;
    padding: 4px 20px;
  }
}
