#splitText1,
#splitText2,
#splitText3,
#splitText4,
#splitText5,
#splitText6,
#splitText7,
#splitText8,
#splitText9,
#splitText10,
#splitText11,
#splitText12,
#splitText13,
#splitText14,
#splitText15,
#splitText16,
#splitText17,
#splitText18,
#splitText19,
#splitText20,
#splitText21 {
  opacity: 0;
}

#splitText1.active,
#splitText2.active,
#splitText3.active,
#splitText4.active,
#splitText5.active,
#splitText6.active,
#splitText7.active,
#splitText8.active,
#splitText9.active,
#splitText10.active,
#splitText11.active,
#splitText12.active,
#splitText13.active,
#splitText14.active,
#splitText15.active,
#splitText16.active,
#splitText17.active,
#splitText18.active,
#splitText19.active,
#splitText20.active,
#splitText21.active {
  opacity: 1;
}

/* duration depending on text length ++200ms */
#splitText5,
#splitText19 {
  transition: 1.2s opacity;
}

#splitText1,
#splitText3,
#splitText4,
#splitText6,
#splitText16 {
  transition: 1.7s opacity;
}

#splitText2 {
  transition: 2s opacity;
}

#splitText7 {
  transition: 1.8s opacity;
}

#splitText8,
#splitText9,
#splitText15 {
  transition: 0.4s opacity;
}

#splitText10,
#splitText12 {
  transition: 0.5s opacity;
}

#splitText11,
#splitText14 {
  transition: 0.28s opacity;
}

#splitText13 {
  transition: 0.7s opacity;
}

#splitText17,
#splitText18 {
  transition: 1.4s opacity;
}

#splitText20 {
  transition: 1.5s opacity;
}

#splitText21 {
  transition: 1.3s opacity;
}
