/* .fading-text {
  transform: scale(0.9);
}

.fading-text.active {
  transform: scale(1);
}

.fading-text:nth-of-type(1) {
  transition: 4.8s all;
} */

#splitText1,
#splitText2,
#splitText3,
#splitText4,
#splitText5,
#splitText6 {
  opacity: 0;
}

#splitText1.active,
#splitText2.active,
#splitText3.active,
#splitText4.active,
#splitText5.active,
#splitText6.active {
  opacity: 1;
}

/* duration depending on text length ++200ms */
#splitText5 {
  transition: 1.2s opacity;
}

#splitText1,
#splitText3,
#splitText4,
#splitText6 {
  transition: 1.7s opacity;
}

#splitText2 {
  transition: 2s opacity;
}
