.fixed-map_scrollable-section,
.fixed-bg_scrollable-section {
  position: relative;
}

.fixed-map,
.fixed-background {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: var(--doc-height);
  overflow: hidden;
}

.fixed-map .trigger-map,
.trigger-map-shadow {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.fixed-map .trigger-map.pc,
.trigger-map-shadow.pc {
  background-image: url(/assets/images/01/map/09-bg@2x.png);
}

.fixed-map .trigger-map.mobile,
.trigger-map-shadow.mobile {
  background-image: url(/assets/images/01/map/09-mobile-bg@2x.png);
}

.fixed-map_scrollable-section.mobile {
  background-image: url(/assets/images/01/map/09-mobile-bg@2x.png);
}

.fixed-background .trigger-photo,
.trigger-photo-shadow {
  width: 100%;
  height: 100%;
  background-position: center, center;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, no-repeat;
}

.fixed-background .trigger-photo.pc,
.trigger-photo-shadow.pc {
  background-image: url(/assets/images/01/2d-map/15map_img.png),
    url(/assets/images/01/map/bg.png);
  background-size: 80%, cover;
}

.fixed-background .trigger-photo.mobile,
.trigger-photo-shadow.mobile {
  background-image: url(/assets/images/01/2d-map/15map_img.png),
    url(/assets/images/01/map/bg.png);
  background-size: 75%, cover;
}

.fixed-bg_scrollable-section.no-bg.mobile {
  background-image: url(/assets/images/01/2d-map/15map_img.png),
    url(/assets/images/01/map/bg.png);
  background-size: 75%, cover;
}

@media only screen and (max-width: 1919px) {
}

@media only screen and (max-width: 1279px) {
  .fixed-map .trigger-map,
  .trigger-map-shadow {
    background-position: 65% 50%;
  }
  .fixed-background .trigger-photo,
  .trigger-photo-shadow {
    background-size: 90%, cover;
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 399px) {
}
