/* Pretendard -- primary */

@font-face {
  font-family: Pretendard-Regular;
  src: url(../../assets/fonts/Pretendard/Pretendard-Regular.woff);
}

@font-face {
  font-family: Pretendard-Bold;
  src: url(../../assets/fonts/Pretendard/Pretendard-Bold.woff);
}

@font-face {
  font-family: Pretendard-Light;
  src: url(../../assets/fonts/Pretendard/Pretendard-Light.woff);
}

@font-face {
  font-family: Pretendard-SemiBold;
  src: url(../../assets/fonts/Pretendard/Pretendard-SemiBold.woff);
}

/* NotoSans -- secondary */

@font-face {
  font-family: NotoSans-Bold;
  src: url(../../assets/fonts/Noto_Sans_KR/static/NotoSansKR-Bold.ttf);
}

.text-strong {
  font-family: Pretendard-Bold;
}

.text-light {
  font-family: Pretendard-Light;
}

.text-semi {
  font-family: Pretendard-SemiBold;
}

.text-strong-2 {
  font-family: NotoSans-Bold;
  line-height: 1.5;
}

:root {
  --primary: #866d6e;
  --primary-light: #ead5d6;
  --primary-dark: #644244;
  --secondary: #c3bdaf;
  --white: #ffffff;
  --dark: #222222;
  --grey: #e3e3dc;
  --grey-1: #f6f6f6;
  --grey-2: #cacaca;
  --yellow: #ffdb45;
  --light: #f6f6f4;
  --green: #47b7bc;

  --doc-height: 100vh;
}

* {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  line-height: 1.3;
  letter-spacing: 0.5px;
  font-family: Pretendard-Regular;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  line-height: 1.4;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 22px;
}

.text-body {
  font-size: 18px;
  line-height: 38px;
}

.bg-shadow-top {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  ) !important;
}

.bg-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  ) !important;
}

.bg-shadow-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  ) !important;
}

.bg-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  ) !important;
}

.bg-black-30 {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.bg-grey-1 {
  background-color: var(--grey-1) !important;
}

.bg-grey-2 {
  background-color: var(--grey-2) !important;
}

.bg-grey-img {
  background-image: url(../../assets/images/01/map/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* typography */
.text-white {
  color: var(--white) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

/* position */

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

/* overflow */

.hidden {
  overflow: hidden !important;
}

/* spacing */
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.fp-watermark {
  display: none;
}

video.attached-video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

footer.kyunghyang-footer {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px 0;
}

footer.kyunghyang-footer div.footer-logos {
  width: 100vw;
  display: flex;
  gap: 80px;
}

footer.kyunghyang-footer div.footer-logos > div {
  flex: 1;
  display: flex;
}

footer.kyunghyang-footer div.footer-logos > div:first-of-type {
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* start animate css */
.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}
/* end animate css */

object-fit-cover {
  object-fit: cover;
  height: 100%;
  width: 100vw;
}

/* ------------------------------ quote section ------------------------------ */
.quotes-title {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  color: var(--secondary); */
  display: flex;
  justify-content: center;
  /* align-items: center;
  gap: 40px;
  text-align: center; */
}
.quotes-title > div {
  padding: 20px 0 10px;
}

/* start section 1 */
#section-1 {
  position: relative;
}

#section-1 .section-1-text-box .tag-title {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  background-color: var(--white);
  color: var(--dark);
  border-radius: 30px;
  padding: 7px 31px;
  width: max-content;
}

#section-1 .section-1-text-box .main-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
  color: white;
}

#section-1 .section-1-text-box .rounded-number {
  font-size: 21px;
  width: 26px !important;
  aspect-ratio: 1;
  height: auto;
  border: 1px solid var(--white);
  border-radius: 13px;
  margin: 0 9px 0 19px;
}

#section-1 .section-1-text-box .scroll-down {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
}

/* end section 1 */

/* start section 2 */

#section-2 .quotes-title,
#section-3 .quotes-title {
  display: none;
}

.section-2 .goingUp-text,
.section-3 .goingUp-text {
  color: var(--dark);
  text-decoration: underline;
  text-underline-offset: 23px;
  text-decoration-color: var(--secondary);
}
/* end section 2 */

/* start setion 4 */
#section-4 {
  background-image: url(../../assets/images/01/old-man-bg/06_img.png);
}

.section-4-text-box {
  font-size: 40px;
  color: white;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
/* end section 4 */

/* start setion 5 */
#section-5 {
  background-image: url(../../assets/images/01/old-woman-bg/07_img.png);
}

.section-5-text-box {
  font-size: 40px;
  color: white;
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translateY(-50%);
}
/* end section 5 */

/* start section 6 */
.section-6 {
  background-color: var(--light);
}

.section-6-content {
  padding: 0 100px;
}

.section-6 .statistics {
  display: flex;
  margin-top: 88px;
}

.section-6 .statistics-chart {
  width: 50%;
  background-color: var(--white);
  padding: 40px 45px;
}

.section-6 .statistics-contents {
  padding-left: 32px;
  position: relative;
  width: 100%;
}

.section-6-text-box-1st {
  color: var(--dark);
  font-size: 36px;
}

.statistics-contents-box {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* end section 6 */

/* start section 7 */
.section-7,
.section-8,
.section-9,
.section-11 {
  position: relative;
  background-color: #ffffff;
}

.full-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-img {
  object-fit: cover;
  height: 100%;
  width: 100vw;
}

.circle-yellow {
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  height: auto;
  padding: 16px;
  background-color: #d6c96166;
  border-radius: 25px;
}

.map-popup-content {
  position: absolute;
  transform: translate(-50%, -88%);
  background-color: rgb(0, 0, 0, 0.5);
  padding: 56px 64px;
  color: var(--white);
  text-align: center;
  width: max-content;
}

.circle-yellow.point-1 {
  top: 53%;
  left: 65%;
}

.point1 {
  top: 42%;
  left: 57%;
  display: none;
}
.circle-yellow.point-2 {
  top: 42%;
  left: 58%;
}

.map-popup-content.point2 {
  top: 42%;
  left: 58%;
}

.circle-yellow div {
  aspect-ratio: 1;
  height: auto;
  background-color: #d6c961;
  border-radius: 27px;
}

.satellite-map-zoom {
  height: 100vh;
  width: 100%;
}

/* end section 7 */

/* start section 8 */

.section-8-carousel {
  margin-top: 59px;
}
.slick-slide img {
  border-radius: 18px;
  height: 300px;
}

.slick-track {
  display: flex;
  gap: 20px;
}

.slick-left-arrow {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  color: white;
  border-radius: 99999px;
  cursor: pointer;
  background-color: white;
}
.slick-right-arrow {
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  color: white;
  border-radius: 99999px;
  cursor: pointer;
  background-color: white;
}
/* end section 8 */

/* start section 9 */
.section-9-title {
  color: var(--dark);
}

.section-9-content {
  position: absolute;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-9-content .content,
.section-11 .feedback-content,
.section-28 .content {
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 60px;
  font-size: 80px;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
}

.section-28 .content {
  position: absolute;
  bottom: 10%;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.section-28 .content h3 {
  color: #ffffff;
}
/* end section 9 */

/* start section 10 */
.section-10 {
  background-image: url(../../assets/images/01/map/bg.png);
}

#map-2d {
  position: relative;
}
.map-2d-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-2d-location {
  position: relative;
  padding: 0 74px;
  width: 100%;
  height: 100%;
}
/* end section 10 */

.text-content-light {
  font-weight: 300;
  color: var(--dark);
}
.text-content-dark {
  font-weight: bold;
  color: var(--dark);
}

.profile-image {
  width: 360px;
  object-fit: cover;
}

.top-fixed-2d-map-1st,
.top-fixed-2d-map-2nd,
.top-fixed-2d-map-3rd,
.top-fixed-2d-map-4th,
.top-fixed-2d-map-5th,
.top-fixed-2d-map-6th {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: auto;
  opacity: 0;
}

.top-fixed-2d-map img {
  width: 100%;
  height: auto;
}
/* end section 10 */

/* start section 11 */

.section-11-title {
  background-color: #ffffff;
  padding: 55px 0;
}

.section-11-title .title {
  padding-left: 100px;
}

.feedback-content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.info-content {
  color: white;
}
.content-left {
  position: absolute;
  bottom: 25px;
  left: 5%;
  text-align: left;
}

.content-right {
  position: absolute;
  bottom: 25px;
  right: 5%;
  text-align: right;
}
/* end section 11 */

.section-12 {
  background-image: url(../../assets/images/01/2d-map-1st/18_img.png);
}
.section-13 {
  background-image: url(../../assets/images/01/2d-map-1st/19_img.png);
}
.section-14 {
  background-image: url(../../assets/images/01/2d-map-1st/20_img.png);
}

.section-16-img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-16-title-content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 4% 10px;
}

.section-17 {
  background-image: url(../../assets/images/01/2d-map-2nd/23_img.png);
}
.section-18 {
  background-image: url(../../assets/images/01/2d-map-2nd/24_img.png);
}
.section-19 {
  background-image: url(../../assets/images/01/2d-map-2nd/25_img.png);
}

.section-21 {
  background-image: url(../../assets/images/01/2d-map-3rd/27_img.png);
}

.section-22 {
  background-image: url(../../assets/images/01/2d-map-3rd/28_img.png);
}

.section-23 {
  background-image: url(../../assets/images/01/2d-map-3rd/29_img.png);
}

.section-25 {
  background-image: url(../../assets/images/01/2d-map-4th/31_img.png);
}
.section-26 {
  background-image: url(../../assets/images/01/2d-map-4th/32_img.png);
}
.section-27 {
  background-image: url(../../assets/images/01/2d-map-4th/33_img.png);
}

.section-31 {
  background-image: url(../../assets/images/01/2d-map-4th/37_img.png);
}
.section-32 {
  background-image: url(../../assets/images/01/2d-map-4th/38_img.png);
}
.section-33 {
  background-image: url(../../assets/images/01/2d-map-4th/39_img.png);
}

.section-36 {
  background-image: url(../../assets/images/01/2d-map-5th/42_img.png);
}
.section-37 {
  background-image: url(../../assets/images/01/2d-map-5th/43_img.png);
}
.section-38 {
  background-image: url(../../assets/images/01/2d-map-5th/43.1.jpg);
}

div.section-title-tag {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 30px;
  padding: 7px 31px;
  width: fit-content;
  margin: auto;
  font-size: 36px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text {
  color: rgb(34, 34, 34);
  border-bottom: var(--secondary) solid 4px;
  margin-top: 40px;
  padding-bottom: 10px;
}

.opacity-0 {
  opacity: 0;
}

.brown-big-text {
  color: var(--secondary);
  font-size: 60px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

#satellite-title-1 {
  color: #ffffff;
}

.center-top {
  display: none;
}
/* map zoom animation smooth */
.map-2d-location-1st,
.map-2d-location-2nd,
.map-2d-location-3rd,
.map-2d-location-4th,
.map-2d-location-5th,
.map-2d-location-6th {
  transition: all 0.5s ease-in-out;
}
/* start reponsive */

/* up to desktop */
@media only screen and (max-width: 1300px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* tablet to up */
@media only screen and (min-width: 768px) {
  .mobile-break {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  .text-body {
    font-size: 13px;
    line-height: 22px;
  }

  .section-6-content {
    padding: 0 10px;
  }

  .section-4-text-box,
  .section-5-text-box {
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-6 .statistics {
    display: block;
  }

  .section-6-text-box-1st {
    font-size: 18px;
  }

  .section-6 .statistics-chart {
    width: 80%;
  }

  .section-6 .statistics-contents {
    position: static;
    padding: 0;
  }

  .statistics-contents-box {
    width: 100%;
    position: static;
    transform: none;
    margin-top: 20px;
  }

  .mobile-break {
    display: block; /* makes it have a width */
    content: ''; /* clears default height */
    margin-top: 2px; /* change this to whatever height you want it */
  }

  .quotes-title {
    gap: 30px;
  }

  .brown-big-text {
    font-size: 40px;
  }

  #section-2 {
    background-position: -800px;
  }

  .section-11 img {
    height: 700px;
  }

  .map-2d-location {
    padding: 0 10px;
  }

  .content-left,
  .content-right {
    bottom: 25%;
  }
  .section-16-img {
    height: 600px;
  }
}

@media only screen and (max-width: 399px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  #section-1 .section-1-text-box .tag-title {
    font-size: 18px;
  }

  .profile-image {
    width: 300px;
  }

  .section-9-content .content,
  .section-11 .feedback-content {
    gap: 17px;
    font-size: 34px;
    margin-top: 24px;
    width: 315px;
  }
}

@media only screen and (max-width: 1919px) {
  div.section-title-tag {
    font-size: 28px;
    padding: 6px 26px;
  }
}

@media only screen and (max-width: 767px) {
  div.section-title-tag {
    font-size: 20px;
    padding: 4px 20px;
  }
}
