:root {
  --primary: #866d6e;
  --primary-light: #ead5d6;
  --primary-dark: #644244;
  --secondary: #c3bdaf;
  --white: #ffffff;
  --dark: #222222;
  --grey: #e3e3dc;
  --grey-1: #f6f6f6;
  --grey-2: #cacaca;
  --yellow: #ffdb45;
  --light: #f6f6f4;
}
