/* Pretendard -- primary */

@font-face {
  font-family: Pretendard-Regular;
  src: url(../assets/fonts/Pretendard/Pretendard-Regular.woff);
}

@font-face {
  font-family: Pretendard-Bold;
  src: url(../assets/fonts/Pretendard/Pretendard-Bold.woff);
}

@font-face {
  font-family: Pretendard-Light;
  src: url(../assets/fonts/Pretendard/Pretendard-Light.woff);
}

@font-face {
  font-family: Pretendard-SemiBold;
  src: url(../assets/fonts/Pretendard/Pretendard-SemiBold.woff);
}

/* NotoSans -- secondary */

@font-face {
  font-family: NotoSans-Bold;
  src: url(../assets/fonts/Noto_Sans_KR/static/NotoSansKR-Bold.ttf);
}

.text-strong {
  font-family: Pretendard-Bold;
}

.text-light {
  font-family: Pretendard-Light;
}

.text-semi {
  font-family: Pretendard-SemiBold;
}

.text-strong-2 {
  font-family: NotoSans-Bold;
  line-height: 1.5;
}
