/* variables and common */
@import "font.css";
@import "utilities.css";

/* global components */
@import "components/scroll-progress.css";
@import "components/layout.css";

/* gloabal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: 1.3;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
}
