/* background */

.bg-shadow-top {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  );
}

.bg-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  );
}

.bg-shadow-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  );
}

.bg-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  );
}

/* typography */
.text-body {
  font-size: 18px;
  line-height: 38px;
}

.text-white {
  color: var(--white);
}

.text-primary {
  color: var(--primary);
}

.text-dark {
  color: var(--dark);
}

.text-secondary {
  color: var(--secondary);
}

/* position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

/* spacing */

/* border */
